/* font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");


/* mode */
:root {
    --curve: 40;
    --background: #ffffff;
    --background-secondary: #ffffff;
    --custom-background-1: #dee2e6;
    --custom-background-2: #6c757d;
    --custom-background-3: #212529;
    --custom-background-4: #343a40;
    --text-primary: #000000;
    --text-secondary: #adb5bd;
    --hover-text-secondary: #212529;
    --nav-link: #3e55e9;
    --theme-primary: #dee2e6;
    --theme-secondary: #adb5bd;
    --hover-theme-secondary: #343a40;
    --navbar: rgba(255, 255, 255, 0.5);
    --nav-logos: url();
  }
  
  body {
    background-color: #242525;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a {
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: bold;
    color: var(--background-secondary);
  }

/* bar */
.bar1{
    padding-right: 55%;
}

.bar2{
    padding-right: 20px;
}

.bar3{
    padding-right: 5%;
}

.navbar{
    background-color: #484b4b;
}

.navbar a{
    color: var(--custom-background-1);    
}

/* home */

#jumbotron{
    padding-top: 200px;
}

#jumbotron p{
    font-size: 25px;
    
}

#jumbotron img {
    border-radius: 10px;
    box-shadow: 10px 10px 10px #fff;
}

/* icon */
i{
    font-size: 25px;
    padding-right: 10px;
}


.about h2 {
    padding-top: 13%;
    padding-left: 20%;
}

.about p {
    padding-left: 20%;
    padding-top: 10px;
}

/* skills */
.skills {
    padding-top: 10%;
    padding-left: 20%;
}

.skills h2{
    padding-bottom: 2%;
}

.skills i{
    font-size: 100px;
    color: #dee2e6;
    padding-right: 150px;
}

/* hover */
.navbar li:hover{
    background-color: #000000ce;
    border-radius: 10px;
    transition: 0.7s;   
}

i:hover{
    color: var(--nav-link);
    transition: 0.7s;
}

.skills i:hover{
    color: #3e55e9;
    transition: 0.7s;
}